<a href="https://colab.research.google.com/github/cswcjt/Time-Series-Analysis/blob/main/Aerial_Bombing(%EC%8B%A4%EC%8A%B5%EA%B3%BC%EC%A0%9C_%EB%8B%A8%EB%B3%80%EB%9F%89).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 과제: 날씨 데이터로 이상기후 파악하기

In [1]:
## 실습 데이터 소개
# https://www.kaggle.com/code/kanncaa1/time-series-prediction-tutorial-with-eda

## 데이터 설명
# Aerial Bombing Operations in WW2 (world-war-ii)
# / operations.csv: bombing operations
# Weather Conditions in WW2 (weatherww2)
# / Locations.csv: weather station locations, e.g., country, latitude, longitutde
# / Summary.csv: summary statistics of temperatures measured in weather stations

- **Aerial Bombing Data** (`operations.csv`)
  - `Mission Date`: Date of mission
  - `Theater of Operations`: Region in which active military operations are in progress
  - `Country`: Country that makes mission or operation, e.g.,  USA
  - `Air Force`: Name or id of air force unity, e.g., 5AF
  - `Aircraft Series`: Model or type of aircraft, e.g., B24
  - `Callsign`: Before bomb attack, message, code, announcement, or tune that is broadcast by radio
  - `Takeoff Base`: Takeoff airport name, e.g., Ponte Olivo Airfield
  - `Takeoff Location`: Takeoff region, e.g., Sicily
  - `Takeoff Latitude`: Latitude of takeoff region
  - `Takeoff Longitude`: Longitude of takeoff region
  - `Target Country`: Target country, e.g., Germany
  - `Target City`: Target city, e.g., Berlin
  - `Target Type`: Type of target, e.g., city area
  - `Target Industry`: Target industy, e.g.,  town or urban
  - `Target Priority`: Target priority, e.g., 1 (most)
  - `Target Latitude`: Latitude of target
  - `Target Longitude`: Longitude of target
- **Weather Condition Data**
  - **Weather Station Locations** (`Locations.csv`)
    - `WBAN`: Weather station number
    - `NAME`: Weather station name
    - `STATE/COUNTRY ID`: Acronym of countries
    - `Latitude`: Latitude of weather station
    - `Longitude`: Longitude of weather station
  - **Weather Summary** (`Summary.csv`)
    - `STA`: Weather station number (WBAN)
    - `Date`: Date of temperature measurement
    - `MeanTemp`: Mean temperature

In [3]:
import numpy as np  
import pandas as pd  
import seaborn as sns  
import matplotlib.pyplot as plt  
# import plotly.plotly as py # visualization library
from plotly.offline import init_notebook_mode, iplot  
init_notebook_mode(connected=True) 
import plotly.graph_objs as go 

import os
import warnings        
warnings.filterwarnings("ignore")

In [16]:
filepath = 'https://github.com/mchoimis/tsdl/raw/main/weatherww2/'
summary = pd.io.parsers.read_csv(filepath + 'Summary.csv')
summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119040 entries, 0 to 119039
Data columns (total 31 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   STA          119040 non-null  int64
 1   Date         119040 non-null  object
 2   Precip       119040 non-null  object
 3   WindGustSpd  532 non-null     float64
 4   MaxTemp      119040 non-null  float64
 5   MinTemp      119040 non-null  float64
 6   MeanTemp     119040 non-null  float64
 7   Snowfall     117877 non-null  object
 8   PoorWeather  34237 non-null   object
 9   YR           119040 non-null  int64
 10  MO           119040 non-null  int64
 11  DA           119040 non-null  int64
 12  PRCP         117108 non-null  object
 13  DR           533 non-null     float64
 14  SPD          532 non-null     float64
 15  MAX          118566 non-null  float64
 16  MIN          118572 non-null  float64
 17  MEA          118542 non-null  float64
 18  SNF          117877 non-null  object
 19  SND          5563 non-null    float64
 20  FT           0 non-null       float64
 21  FB           0 non-null       float64
 22  FTI          0 non-null       float64
 23  ITH          0 non-null       float64
 24  PGT          525 non-null     float64
 25  TSHDSBRSGF   34237 non-null   object
 26  SD3          0 non-null       float64
 27  RHX          0 non-null       float64
 28  RHN          0 non-null       float64
 29  RVG          0 non-null       float64
 30  WTE          0 non-null       float64
dtypes: float64(20), int64(4), object(7)
memory usage: 28.2+ MB

In [17]:
summary.head()
summary.tail()

,STA,Date,Precip,WindGustSpd,MaxTemp,MinTemp,MeanTemp,Snowfall,PoorWeather,YR,...,FB,FTI,ITH,PGT,TSHDSBRSGF,SD3,RHX,RHN,RVG,WTE
119035,82506,1945-12-27,0,NaN,28.333333,18.333333,23.333333,0.0,NaN,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119036,82506,1945-12-28,9.906,NaN,29.444444,18.333333,23.888889,0.0,1.0,45,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
119037,82506,1945-12-29,0,NaN,28.333333,18.333333,23.333333,0.0,1.0,45,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
119038,82506,1945-12-30,0,NaN,28.333333,18.333333,23.333333,0.0,NaN,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119039,82506,1945-12-31,0,NaN,29.444444,17.222222,23.333333,0.0,NaN,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
filepath = 'https://github.com/mchoimis/tsdl/raw/main/world-war-ii/' # 'https://github.com/mchoimis/tsdl/raw/main/world-war-ii/'
operations = pd.io.parsers.read_csv(filepath + 'operations.csv')
operations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178281 entries, 0 to 178280
Data columns (total 46 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Mission ID                             178281 non-null  int64
 1   Mission Date                           178281 non-null  object
 2   Theater of Operations                  175123 non-null  object
 3   Country                                126494 non-null  object
 4   Air Force                              126444 non-null  object
 5   Unit ID                                50913 non-null   object
 6   Aircraft Series                        178165 non-null  object
 7   Callsign                               21 non-null      object
 8   Mission Type                           47186 non-null   object
 9   Takeoff Base                           3383 non-null    object
 10  Takeoff Location                       3338 non-null    object
 11  Takeoff Latitude                       2981 non-null    object
 12  Takeoff Longitude                      2980 non-null    float64
 13  Target ID                              127406 non-null  object
 14  Target Country                         177682 non-null  object
 15  Target City                            176018 non-null  object
 16  Target Type                            146370 non-null  object
 17  Target Industry                        126479 non-null  object
 18  Target Priority                        134720 non-null  object
 19  Target Latitude                        169565 non-null  float64
 20  Target Longitude                       169543 non-null  float64
 21  Altitude (Hundreds of Feet)            120826 non-null  float64
 22  Airborne Aircraft                      82242 non-null   float64
 23  Attacking Aircraft                     125108 non-null  float64
 24  Bombing Aircraft                       81612 non-null   float64
 25  Aircraft Returned                      133 non-null     float64
 26  Aircraft Failed                        247 non-null     float64
 27  Aircraft Damaged                       38 non-null      float64
 28  Aircraft Lost                          158 non-null     float64
 29  High Explosives                        34737 non-null   float64
 30  High Explosives Type                   41945 non-null   object
 31  High Explosives Weight (Pounds)        2021 non-null    object
 32  High Explosives Weight (Tons)          146201 non-null  float64
 33  Incendiary Devices                     3283 non-null    float64
 34  Incendiary Devices Type                5519 non-null    object
 35  Incendiary Devices Weight (Pounds)     356 non-null     float64
 36  Incendiary Devices Weight (Tons)       25732 non-null   float64
 37  Fragmentation Devices                  5768 non-null    float64
 38  Fragmentation Devices Type             5765 non-null    object
 39  Fragmentation Devices Weight (Pounds)  194 non-null     float64
 40  Fragmentation Devices Weight (Tons)    16902 non-null   float64
 41  Total Weight (Pounds)                  2119 non-null    float64
 42  Total Weight (Tons)                    166508 non-null  float64
 43  Time Over Target                       689 non-null     object
 44  Bomb Damage Assessment                 104 non-null     object
 45  Source ID                              174236 non-null  float64
dtypes: float64(22), int64(1), object(23)
memory usage: 62.6+ MB

In [20]:
operations.head()

,Mission ID,Mission Date,Theater of Operations,Country,Air Force,Unit ID,Aircraft Series,Callsign,Mission Type,Takeoff Base,...,Incendiary Devices Weight (Tons),Fragmentation Devices,Fragmentation Devices Type,Fragmentation Devices Weight (Pounds),Fragmentation Devices Weight (Tons),Total Weight (Pounds),Total Weight (Tons),Time Over Target,Bomb Damage Assessment,Source ID
0,1,8/15/1943,MTO,USA,12 AF,27 FBG/86 FBG,A36,NaN,NaN,PONTE OLIVO AIRFIELD,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN
1,2,8/15/1943,PTO,USA,5 AF,400 BS,B24,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,9366.0
2,3,8/15/1943,MTO,USA,12 AF,27 FBG/86 FBG,A36,NaN,NaN,PONTE OLIVO AIRFIELD,...,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN
3,4,8/15/1943,MTO,USA,12 AF,27 FBG/86 FBG,A36,NaN,NaN,PONTE OLIVO AIRFIELD,...,NaN,NaN,NaN,NaN,NaN,NaN,7.5,NaN,NaN,NaN
4,5,8/15/1943,PTO,USA,5 AF,321 BS,B24,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,22585.0

In [10]:
filepath = 'https://github.com/mchoimis/tsdl/raw/main/weatherww2/'
locations = pd.io.parsers.read_csv(filepath + 'Locations.csv')
locations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   WBAN              161 non-null    int64
 1   NAME              161 non-null    object
 2   STATE/COUNTRY ID  161 non-null    object
 3   LAT               161 non-null    object
 4   LON               161 non-null    object
 5   ELEV              161 non-null    int64
 6   Latitude          161 non-null    float64
 7   Longitude         161 non-null    float64
dtypes: float64(2), int64(2), object(4)
memory usage: 10.2+ KB

In [21]:
aerial = operations.copy()
weather_station_location = locations.copy()
weather = summary.copy()

In [22]:
# Drop countries that are NaN
aerial = aerial[pd.isna(aerial.Country)==False]
# Drop if target longitude is NaN
aerial = aerial[pd.isna(aerial['Target Longitude'])==False]
# Drop if takeoff longitude is NaN
aerial = aerial[pd.isna(aerial['Takeoff Longitude'])==False]
# Drop unused features
drop_list = ['Mission ID','Unit ID','Target ID','Altitude (Hundreds of Feet)','Airborne Aircraft',
             'Attacking Aircraft', 'Bombing Aircraft', 'Aircraft Returned',
             'Aircraft Failed', 'Aircraft Damaged', 'Aircraft Lost',
             'High Explosives', 'High Explosives Type','Mission Type',
             'High Explosives Weight (Pounds)', 'High Explosives Weight (Tons)',
             'Incendiary Devices', 'Incendiary Devices Type',
             'Incendiary Devices Weight (Pounds)',
             'Incendiary Devices Weight (Tons)', 'Fragmentation Devices',
             'Fragmentation Devices Type', 'Fragmentation Devices Weight (Pounds)',
             'Fragmentation Devices Weight (Tons)', 'Total Weight (Pounds)',
             'Total Weight (Tons)', 'Time Over Target', 'Bomb Damage Assessment','Source ID']
aerial.drop(drop_list, axis=1,inplace = True)
aerial = aerial[ aerial.iloc[:,8]!="4248"] # drop this takeoff latitude 
aerial = aerial[ aerial.iloc[:,9]!=1355]   # drop this takeoff longitude

aerial.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2555 entries, 0 to 178080
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Mission Date           2555 non-null   object
 1   Theater of Operations  2555 non-null   object
 2   Country                2555 non-null   object
 3   Air Force              2505 non-null   object
 4   Aircraft Series        2528 non-null   object
 5   Callsign               10 non-null     object
 6   Takeoff Base           2555 non-null   object
 7   Takeoff Location       2555 non-null   object
 8   Takeoff Latitude       2555 non-null   object
 9   Takeoff Longitude      2555 non-null   float64
 10  Target Country         2499 non-null   object
 11  Target City            2552 non-null   object
 12  Target Type            602 non-null    object
 13  Target Industry        81 non-null     object
 14  Target Priority        230 non-null    object
 15  Target Latitude        2555 non-null   float64
 16  Target Longitude       2555 non-null   float64
dtypes: float64(3), object(14)
memory usage: 359.3+ KB

In [13]:
# 필요 컬럼만 추출
weather_station_location = weather_station_location.loc[:,["WBAN","NAME","STATE/COUNTRY ID","Latitude","Longitude"] ]
weather_station_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   WBAN              161 non-null    int64
 1   NAME              161 non-null    object
 2   STATE/COUNTRY ID  161 non-null    object
 3   Latitude          161 non-null    float64
 4   Longitude         161 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 6.4+ KB

In [14]:
# 필요 컬럼만 추출
weather = weather.loc[:,["STA","Date","MeanTemp"] ]
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119040 entries, 0 to 119039
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   STA       119040 non-null  int64
 1   Date      119040 non-null  object
 2   MeanTemp  119040 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.7+ MB